.bottom_zero{
	margin_bottom: 0px;
}
a.news{
  color: black;
}
a.news:hover{
  color:#2196f3;
}
li.news{
  padding-bottom: 10px;
}
a.chose{
	color:#000000;
}
i.news{
  vertical-align:bottom;
}
.nav_left{
	margin-left: 30px; 
}
